<div data-role="Page" id="view_contact" class="twelve columns">
    <div class="row">
        <form name="entryForm" id="entryForm" method="get" action="">
        <fieldset>
            <div class="six columns">
                <input type="text" name="date" placeholder="Date" class="alpha" required />
            </div>
            <div class="six columns">
                <input type="text" name="nameOfsalseRep" placeholder="Name of Sales Rep" class="omega"
                    required />
            </div>
        </fieldset>
        <fieldset>
            <div class="six columns">
                <div class="checkboxes">
                    <div>
                        <input type="radio" class="styled" name="title" value="Miss" />
                        <label for="miss">
                            Miss</label>
                    </div>
                    <div>
                        <input type="radio" class="styled" name="title" value="Mrs."/>
                        <label for="mrs">
                            Mrs.</label>
                    </div>
                    <div>
                        <input type="radio" class="styled" name="title" value="Ms."/>
                        <label for="ms">
                            Ms.</label>
                    </div>
                    <div>
                        <input type="radio" class="styled" name="title" value="Mr."/>
                        <label for="mr">
                            Mr.</label>
                    </div>
                    <div class="last">
                        <input type="radio" class="styled" name="title" value="Dr." />
                        <label for="dr">
                            Dr.</label>
                    </div>
                </div>
            </div>
            <div class="six columns">
                <input type="text" name="jobTitle" placeholder="Job Title" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="six columns">
                <input type="text" name="fname" placeholder="First Name" required />
            </div>
            <div class="six columns">
                <input type="text" name="lname" placeholder="Last Name" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="six columns">
                <div class="control_cols alpha omega alpha">
                    <input type="text" class="input-min" name="phone" placeholder="Phone" required />
                    <input type="text" class="input-min last" name="zipCode" placeholder="+" required />
                    <label for="phoneNo" class="unikLable">
                        (0)</label>
                    <input type="text" class="input-medium" name="phoneNo" required />
                </div>
            </div>
            <div class="six columns">
                <input type="email" name="eMail" placeholder="eMail" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="twelve columns">
                <input type="text" name="company" placeholder="Company" class="fluid-width" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="twelve columns">
                <input type="text" name="address" placeholder="Address" class="fluid-width" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="nine columns">
                <input type="text" name="city" placeholder="City" required />
            </div>
            <div class="three columns">
                <input type="text" name="postalCode" placeholder="Postal Code" required />
            </div>
        </fieldset>
        <fieldset>
            <div class="twelve columns">
                <input type="text" name="country" placeholder="Country" class="fluid-width" required />
            </div>
        </fieldset>
        </form>
        <a id="captureCard" href="#" data-events="{'click': '_captureCardClicked'}">Take picture of visiting card</a>
            
    </div>
</div>
