<div id="view_dropDown" data-role="Page" class="twelve columns partnerName area">
        	<div class="row">
            	<h2 id="question" data-bind="{context: 'this'}">{path: 'text'}</h2>
                <div class="twelve columns scrollCnt">
                	<select class="select dropDownQuestion" data-bind="{context:'options'}" data-events="{'change': '_selectionChanged'}">
                        <option class="option" id="0" value="">Select one...</option>
                        <option class="option" data-item id="opt{path: 'id'}" value="{path: 'id'}">{path:'text'}</option>
                    </select>
                 </div>
            </div>
    <div class="row">
        <div class="two columns">
            <a id="btnComment" href="#" class="button left comment expandCmt">Comment&nbsp;&nbsp;</a>
            
        </div>
        <div class="ten columns">
            <textarea id="comment" rows="4" style="display:none"></textarea>
        </div>
        
    </div>
	        <div class="row">
        	<div class="twelve columns">
	        	<div data-bind="{context: 'this'}" class="resources" style="display:{path: 'resources', func: '_getResourceDisplay'}">
	            	<h3>Resources</h3>
	            	<ul data-bind="{context:'resources'}">
	            		<li><a href="{path: 'path'}" target="_blank" class="{path: 'type', func: '_getClassForType'}">{path: 'title'}</a></li>	            		
	            	</ul>
	            </div>
             </div>
        </div>
</div>