<div id="view_order" data-role="Page" class="twelve columns partnerName area">
        	<div class="row">
            	<h2 id="question" data-bind="{context: 'this'}">{path: 'text'}</h2>
                <div class="twelve columns decimal scrollCnt">
                	<ul id="sortable" data-bind="{context:'options'}" class="wrapCol">
                        <li id = "orderItem_{path: 'id'}" data-item><span class="orderSn">{path: 'id'}</span><span class="orderText">{path: 'text'}</span></li>                    	                      
                    </ul>
                 </div>
            </div>
	        <div class="row">
        	<div class="twelve columns">
	        	<div data-bind="{context: 'this'}" class="resources" style="display:{path: 'resources', func: '_getResourceDisplay'}">
	            	<h3>Resources</h3>
	            	<ul data-bind="{context:'resources'}">
	            		<li data-item><a href="{path: 'path'}" target="_blank" class="{path: 'type', func: '_getClassForType'}">{path: 'name'}</a></li>	            		
	            	</ul>
	            </div>
             </div>
        </div>
</div>