<div id="view_settings" data-role="Page" class="twelve columns partnerName area">
        	<div class="row">
            	<h2 >Settings</h2>
                <div class="twelve columns scrollCnt">
                	<ul>
                		<li><a id="download" data-events="{'click': '_download'}">Download Survey</a></li>
                		<li><a id="upload" data-events="{'click': '_upload'}">Upload Responses</a></li>
                	</ul>					
                 </div>
            </div>	       
</div>